<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../scripts/menu.js" type="module"></script>
    <script src="../scripts/helpers/fittext.js"></script>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/menu.css">
    <title>QuizMe</title>
</head>

<body>

    <ul id="flashes"></ul>

    <div id="extra-background-panel">
    </div>

    <div id="background-panel">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" id="x-icon"><rect width="256" height="256" fill="none"></rect><line x1="200" x2="56" y1="56" y2="200" stroke="#FBB635" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line><line x1="200" x2="56" y1="200" y2="56" stroke="#FBB635" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line></svg>
    </div>

    <div id="menu-panel" class="page">
    </div>

    <form id="delete-players-form" class="bottom">
        <div id="delete-players-form__close">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" id="form-close-icon"><rect width="256" height="256" fill="none"></rect><line x1="200" x2="56" y1="56" y2="200" stroke="#FBB635" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line><line x1="200" x2="56" y1="200" y2="56" stroke="#FBB635" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line></svg>
        </div>
        <div id="delete-players-form__top">
            <label for="">
                Password
            </label>
            <input type="password" required name="password" id="password">
        </div>
        <div id="delete-players-form__submit" class="button-primary">Submit</div>
    </form>

    <!-- settings -->
    <div id="settings" class="bottom">
        <button id="menu-panel__buttons-clear" class="button-primary">Clear Leaderboards</button>
        <button id="menu-panel__buttons-reset" class="button-primary">Reset</button>
    </div>

    <!-- leaderboards -->
    <div id="players" class="bottom">
    </div>

    <ul id="game-instructions" class="bottom">
        <p>Game Instructions</p>
        <li class="game-instructions__item">- Rearrange the random words by clicking on each letter of the randomized characters.</li>
        <li class="game-instructions__item">- The clicked letters will be placed in an array.</li>
        <li class="game-instructions__item">- If the letters in the array match the word, you get a point.</li>
        <li class="game-instructions__item">- You have the option to reshuffle all words by clicking on the reshuffle button.</li>
        <li class="game-instructions__item">- You can read the description of the game by clicking on the guide button.</li>
        <li class="game-instructions__item">- You can close the game or skip a word by clicking on the respective buttons.</li>
        <li class="game-instructions__item">- Have fun playing quizMe!</li>
    </ul>
  
</body>

</html>
