/* --------------------- menu-prompt --------------------- */
#definition-panel,
#menu-prompt__background {
    width: 100vw;
    height: 0vh;
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--backgroundLight);
    backdrop-filter: blur(20px) saturate(200%);
    padding: 4rem;
    font-size: 2vw;
    transition: 250ms ease;
    opacity: 0;
    pointer-events: none;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow-y: scroll;
}

#menu-prompt__background.active,
#definition-panel.active {
    height: 100vh;
    opacity: 1;
    pointer-events: all;
}

#menu-prompt__container {
    padding: 1.5rem;
    width: 90%;
    overflow: visible;
}

#menu-prompt__message {
    margin-bottom: 1rem;
}

#menu-prompt__container .button-primary {
    font-size: 1.5rem;
}

#menu-prompt__yes {
    margin-right: 1rem;
}

/* --------------------- game-panel --------------------- */
#game-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#game-panel__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow-y: scroll;
}

#game-panel__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin-top: 2rem;
}

.nav-link {
    border: none;
    background-color: inherit;
    cursor: pointer;
    font-size: 3rem;
}

#refresh-container {
    padding: 2rem;
    border-radius: 50%;
    border: 2px solid var(--colorShadeA);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    margin: 1rem;
    right: 0;
    bottom: 0;
    cursor: pointer;
}

#refresh-arrow {
    width: 2.5rem;
    fill: var(--colorShadeA);
    transition: 250ms;
}

#right,
#paper {
    display: none;
}

#x-icon {
    width: 3.9rem;
}

#game-panel__containers {
    width: 80%;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
}

#game-panel__hints {
    position: fixed;
    top: 0%;
    transform: translateY(-100%);
    width: fit-content;
    padding: 0.5rem;
    font-size: 1.5vw;
    transition: transform 250ms;
    border-radius: 5px;
    color: var(--darkText);
    background-color: var(--primary);
    z-index: 10;
}

#game-panel__hints.active {
    top: 7%;
}

#game-panel__text-container,
#game-panel__scramble-letters {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    height: fit-content;
    overflow: visible;
}

.game-panel__text,
.game-panel__scramble-letters-letter {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    vertical-align: middle;
    text-decoration: none;
    font-size: 1.5vw;
    color: var(--colorShadeA);
    font-weight: 700;
    text-transform: uppercase;
    font-family: inherit;
    overflow: visible;
    width: 6vw;
    height: 6vw;
    min-width: 3.5rem;
    min-height: 3.5rem;
    border: 2px solid var(--colorShadeA);
    border-radius: 20px;
    background: var(--background);
    transform-style: preserve-3d;
    transition: all 175ms cubic-bezier(0, 0, 1, 1);
}

.game-panel__text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-panel__scramble-letters-letter::before {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--colorShadeE);
    border-radius: inherit;
    box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.75em 0 0 var(--colorShadeA);
    transform: translate3d(0, 0.75em, -1em);
    transition: all 175ms cubic-bezier(0, 0, 1, 1);
}

.game-panel__scramble-letters-letter:hover {
    background: var(--colorShadeD);
    color: var(--darkText);
    transform: translate(0, 0.375em);
}

.game-panel__scramble-letters-letter:hover::before {
    transform: translate3d(0, 0.75em, -1em);
}

.game-panel__scramble-letters-letter.active {
    background: var(--colorShadeD);
    color: var(--darkText);
    transform: translate(0em, 0.75em);
}

.game-panel__scramble-letters-letter.active::before {
    transform: translate3d(0, 0, -1em);

    box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.25em 0 0 var(--colorShadeB);
}

@media screen and (orientation: portrait) {

    #game-panel__container {
        justify-content: flex-start;
    }

    #game-panel__containers {
        width: 100%;
        flex-direction: column;
        gap: 2rem;
    }

    .default {
        justify-content: center !important;
    }

    #definition-panel {
        padding: 2rem;
    }

    #game-panel__hints {
        font-size: 1rem;
    }

    #game-panel__navigation {
        width: 90%;
        margin: 5rem 1rem 1rem 1rem;
    }

    #refresh-container {
        padding: 0.5rem;
        position: static;
        height: fit-content;
        width: fit-content;
        margin: 1rem 0;
    }

    #refresh-arrow {
        width: 1.5rem;
    }

    .nav-link-text {
        display: none;
    }

    #right,
    #paper {
        display: block;
        width: 1.5rem;
        fill: var(--accent);
    }

    .game-panel__text,
    .game-panel__scramble-letters-letter {
        font-size: 1rem;
        border-radius: 5px;
        height: fit-content;
    }

    .game-panel__scramble-letters-letter::before {
        box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.45em 0 0 var(--colorShadeA);
    }
}

@media screen and (orientation: landscape) and (max-width: 1370px) and (max-height: 600px) {

    #game-panel__containers {
        gap: 3rem;
    }

    #game-panel__hints {
        font-size: 1.5rem;
    }

    .game-panel__text,
    .game-panel__scramble-letters-letter {
        font-size: 1rem;
        border-radius: 5px;
    }

    .game-panel__scramble-letters-letter::before {
        box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.45em 0 0 var(--colorShadeA);
    }
}