#menu-panel {
    display: flex;
    flex-direction: column;
    width: 90%;
    position: relative;
}

#menu-panel__top {
    width: 100%;
}

#menu-panel__game-title {
    font-size: 7vw;
}

#menu-panel__game-title-description {
    font-size: 1vw;
}

#menu-panel__score-data,
#menu-panel__last-stopped {
    display: none;
    font-size: 1vw;
}

#menu-panel__title {
    font-size: 2vw;
    margin: 2rem 0;
}

#menu-panel__buttons-start {
    font-size: 1.5vw;
    padding: 0.5rem 1rem;
    width: fit-content;
    border: none;
    border-radius: 5px;
    background-color: var(--accent);
    box-shadow: 10px 10px var(--shadow);
    transition: 250ms;
    color: var(--darkText);
    position: absolute;
    bottom: 3%;
    cursor: pointer;
}

#menu-panel__buttons-reset {
    width: fit-content;
    font-size: 1.5vw;
    margin-top: 2rem;
}

#menu-panel__buttons-start:hover {
    box-shadow: 0px 0px var(--shadow);
}

@media screen and (orientation: portrait) {

    #menu-panel {
        width: 90%;
    }
    
    #menu-panel__title {
        text-align: left;
        margin-top: 2rem;
    }

    #menu-panel__game-title,
    #menu-panel__game-title-description {
        text-align: center;
    }

    #menu-panel__buttons-start {
        width: 100%;
        bottom: 5%;
    }

}

@media screen and (orientation: landscape) and (max-width: 1370px) and (max-height: 600px) {


}