#menu-panel {
    display: flex;
    flex-direction: column;
    width: 80%;
    position: relative;
    z-index: 2;
    background-color: var(--background);
}

#menu-panel__top {
    width: 100%;
}

#menu-panel__game-title-section {
    width: 50%;
}

#menu-panel__game-title {
    color: var(--accent);
    text-shadow: 15px 15px var(--shadow);
}

#menu-panel__game-title-description {
    font-size: 1vw;
}

#menu-panel__score-data {
    margin-top: 1rem;
    margin-left: 5px;
}

#menu-panel__score-data,
#menu-panel__last-stopped {
    font-size: 1vw;
}

#menu-panel__name {
    font-size: 2vw;
    background-color: inherit;
    color: var(--darkText);
}


#menu-panel__buttons-container {
    margin-top: 5vh;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: flex-start;
    overflow: visible;
}

#menu-panel__buttons-container > * {
    width: 10vw;
}

#background-cover {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 0vh;
    width: 100vw;
    background-color: #2c2c2c63;
    backdrop-filter: blur(20px) saturate(200%);
    -webkit-backdrop-filter: blur(20px) saturate(200%);
    transition: 250ms ease;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    
}

#background-cover.active {
    height: 100vh;
    opacity: 1;
}

#settings-container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    width: 20%;
    display: flex;
    background-color: #33333300;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    border-radius: 10px;
}

#settings-container > * {
    width: 90%;
}

#menu-panel__buttons-reset {
    width: 100%;
}

#x-icon {
    width: 2rem;
    position: absolute;
    right: 0%;
    top: 0%;
    margin-top: 2.5rem;
    margin-right: 1rem;
    fill: var(--accent);
}

#menu-panel__name-container {
    margin-top: 2rem;
    width: fit-content;
    background-color: var(--accent);
    padding: 0.5rem;
    height: fit-content;
}

@media screen and (orientation: portrait) {

    #menu-panel {
        width: 90%;
        align-items: flex-start;
    }
    
    #menu-panel__top {
        margin-bottom: 3rem;
    }

    #menu-panel__game-title-section {
        width: 100%;
    }

    #menu-panel__game-title {
        text-shadow: 5px 5px var(--shadow);
    }

    #menu-panel__game-title,
    #menu-panel__game-title-description {
        text-align: center;
    }

    #menu-panel__name {
        text-align: left;
        font-size: 1rem;
    }

    #menu-panel__buttons-container {
        width: 100%;
        gap: 2rem;
    }

    #menu-panel__buttons-container > * {
        width: 70%;
    }

    #settings-container {
        width: 70%;
    }

    #settings-container > * {
        width: 90%;
    }

}