@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('./notifications.css');

* {
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

* {
    color: var(--text);
    background-color: var(--background);
}

html {
    height: -webkit-fill-available;
}

:root {
    --primary: #FBB635;
    --background: #2c2c2c;
    --backgroundLight: #2c2c2cc0;
    --text: white;
    --darkText: rgb(29, 59, 46);
    --card: #3f3f3f;
    --accent: #FBB635;
    --shadow: #EF3313;
    --default-font-size: clamp(1rem, 1.1rem, 2rem);
    --colorShadeA: hsl(39, 96%, 60%);
    --colorShadeB: hsl(39, 43%, 64%);
    --colorShadeC: hsl(39, 63%, 76%);
    --colorShadeD: hsl(39, 62%, 84%);
    --colorShadeE: hsl(39, 100%, 92%);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.page {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: var(--background);
    transition: transform 200ms ease;
    transform: translateY(100%);
}

body {
    height: -webkit-fill-available;
}

.button-primary {
    padding: 0.5rem 1rem;
    border: none;
    background-color: var(--accent);
    box-shadow: 10px 10px var(--shadow);
    transition: 250ms;
    color: var(--darkText);
    cursor: pointer;
}

.button-primary:hover {
    box-shadow: 0px 0px var(--accent);
}